<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:fragment="site-head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
	<link rel="icon" href="../static/image/fish.ico" th:href="@{/image/fish.ico}"/>
	<script src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/blogScript.js" th:src="@{/js/blogScript.js}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
</div>	
</head>
<body>
<header th:fragment="site-header">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html" th:href="@{/}"><img alt="logo" class="img-responsive" src="../static/image/fish.jpg" th:src="@{/image/fish.jpg} "/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="active" href="index.html" th:href="@{/}">Home</a></li>
		<li sec:authorize="isAnonymous()"><a href="users/login.html" th:href="@{/users/login}">Login</a></li>
		<li sec:authorize="isAnonymous()"><a href="users/register.html" th:href="@{/users/register}">Register</a></li>
		<li sec:authorize="hasAuthority('USER')"><a href="#" th:href="@{/posts/index}">Posts</a></li>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="#" th:href="@{/posts/postViewForAdmin}">All Posts</a></li>
		<li sec:authorize="isAuthenticated()"><a href="posts/create.html" th:href="@{/posts/create}">Create Post</a></li>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="users/index.html" th:href="@{/users/index}">Users</a></li>
      </ul>
      <div class="nav navbar-nav navbar-right" id="logged-in-info" sec:authorize="isAuthenticated()"><span th:inline="text">Welcome <b>[[${#httpServletRequest.remoteUser}]]</b></span>
		<form method="post" th:action="@{/logout}">
			<input type="submit" value="Logout" class="btn btn-danger"/>
		</form>
	  </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<ul id="messages" class="container list-group" th:with="notifyMess=${session[T(havan.blog.demo.services.NotiServiceImp).NOTIFY_MSG_SESSION_KEY]}">
	<li class="list-group-item" th:each="msg: ${notifyMess}" th:text="${msg.text}" th:class="${#strings.toLowerCase(msg.type)}">
		<span th:if="${notifyMess}" th:remove="all" th:text="${session.remove(T(havan.blog.demo.services.NotiServiceImp).NOTIFY_MSG_SESSION_KEY)}"></span>
	</li>
</ul>

</header>

<div class="container">
	<h1>Welcome</h1>
	<p>Welcome to the Spring MVC Blog</p>   	
</div>

<footer th:fragment="site-footer" class="footer navbar-fixed-bottom">
	<b><p class="text-center">&copy; HaVan, 2017</p></b>
	<p sec:authorize="isAuthenticated()" class="text-center">| Logged user: <span sec:authentication="name"></span> | Roles: <span sec:authentication="principal.authorities"></span></p>
</footer>

</body>
</html>